<nav class="navbar navbar-expand-lg navbar-light bg-white shadow fixed-top">
  <div class="container-fluid">
    <%= link_to "Restaurant Name", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li class="nav-item">
           <%= link_to "Home", root_path, class: "nav-link" %>
         </li>
          <li class="nav-item">
            <%= link_to "Menu", items_path, class: "nav-link" %>
         </li>
         <li class="nav-item">
            <%= link_to "Cart", cart_path, class: "nav-link" %>
         </li>
         <%if user_signed_in?%>
         <li class="nav-item">
            <%= link_to "Orders", orders_path, class: "nav-link" %>
         </li>
         <%end%>

          <%#if user_signed_in? && current_user.admin? %>

         <% if current_user&.admin? %>
            <li class="nav-item">
               <%= link_to "Dashboard", orders_dashboard_index_path, class: "nav-link" %>
            </li>
          <% end %>     
      </ul>
        <%= render 'items/search' %>
      <div class="text-end">
         <% if user_signed_in? %>
           <%= link_to "Log Out", destroy_user_session_path, data: { turbo_method: :delete,turbo_confirm: "Are you sure?"}, class: "btn btn-warning" %>
         <% else %>
           <%= link_to "Login", new_user_session_path, class: "btn btn-outline-dark me-2" %>
           <%= link_to "Sign-up", new_user_registration_path, class: "btn btn-warning" %>
        <% end %>
          
      </div>
    </div>
  </div>
</nav>



